# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for
# review when someone opens a pull request.
* @it-at-m/geoportal_maintainer

#Ensure that modifications to the CODEOWNERS file require approval from geoportal_admin
.github/CODEOWNERS @it-at-m/geoportal_admin